<% category ||= @category %>
<div class="card card-bordered" data-controller="tasks" data-tasks-update-path-value=<%= async_update_path(category, task) %> data-tasks-category-id-value=<%= category.id %>>
  <div class="card-body flex flex-row justify-between items-center py-2 px-5">
    <div class="flex gap-1 items-center">
      <input type="checkbox" <%= task.done ? "checked" : "" %> class="checkbox checkbox-success checkbox-md mr-2" data-action="input->tasks#checkboxChanged" data-tasks-target="checkbox" />
      <%= link_to task.name.humanize, category_task_path(category, task), class: "link link-hover font-bold" %>
      <span><%= task.formatted_deadline %></span>
    </div>
    <div class="flex items-center gap-2">
      <%= link_to "#{category.name.humanize}", category_path(category), class: "badge badge-info link link-hover" %>
      <%= link_to edit_category_task_path(category, task), class: "btn btn-circle btn-ghost btn-sm" do %>
        <i class="fa-regular fa-pen-to-square"></i>
      <% end %>
      <%= button_to category_task_path(category, task), method: :delete, class: "btn btn-circle btn-ghost btn-sm" do %>
        <i class="fa-regular fa-trash-can"></i>
      <% end %>
    </div>
  </div>
</div>
