<% category ||= @category %>
<div class="card card-bordered">
  <div class="card-body flex flex-row justify-between items-center py-2 px-5">
    <div class="flex gap-1 items-center">
      <input type="checkbox" checked="checked" class="checkbox checkbox-success checkbox-md mr-2" />
      <%= link_to task.name.humanize, category_task_path(category, task), class: "link link-hover font-bold" %>
      <span><%= task.formatted_deadline %></span>
    </div>
    <div class="flex items-center gap-2">
      <%= link_to "#{category.name.humanize}", category_path(category), class: "badge badge-info link link-hover" %>
      <%= link_to edit_category_task_path(category, task), class: "btn btn-circle btn-ghost btn-sm" do %>
        <i class="fa-regular fa-pen-to-square"></i>
      <% end %>
      <%= button_to category_task_path(category, task), method: :delete, class: "btn btn-circle btn-ghost btn-sm" do %>
        <i class="fa-regular fa-trash-can"></i>
      <% end %>
    </div>
  </div>
</div>
