<div class="flex flex-col">
  <%= link_to "View #{@category.name.humanize} category", category_path(@category), class: "btn btn-sm btn-ghost mb-5 max-w-sm gap-2 justify-start" %>
  <% if flash[:success] %>
    <div class="alert alert-success mb-2"><%= flash[:success] %></div>
  <% end %>
  <h1>Tasks in <%= @category.name.humanize %> category</h1>
  <%= link_to "New Task", new_category_task_path(@category), class: "btn btn-primary mb-5" %>
  
  <div class="flex flex-col gap-2">
    <% @tasks.each do |task| %>
      <%= render task %>
    <% end %>
  </div>
</div>
