<%= form_for category do |f| %>
  <div class="card card-bordered border-2">
    <div class="card-body">
      <div class="field form-control">
        <%= f.label :name, class: "label" do %>
          <span class="label-text">Name</span>
        <% end %>
        <%= f.text_field :name, autofocus: true, class: "input input-bordered w-full #{"input-error" if has_attr_error(category, :name)}" %>
        <%= render "error_message", category: category, attribute: :name %>
      </div>
      
      <div class="card-actions mt-5">
        <%= f.submit class: "btn btn-primary" %>
        <%= link_to "back to categories", categories_path, class: "btn btn-ghost" %>
      </div>
    </div>
  </div>
<% end %>
