<!DOCTYPE html>
<html data-theme="cupcake">
  <head>
    <title>JournalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <header class="w-full mb-10">
      <div class="container mx-auto py-5 flex justify-between items-center">
        <span class="font-bold"><%= current_user.email %></span>

        <div class="flex gap-2">
          <%= link_to "Home", root_path, class: "btn btn-sm btn-ghost" %>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-ghost" %>
        </div>
      </div>
    </header>
    <main class="container mx-auto h-screen prose">
      <% if alert %>
        <div class="alert alert-error">
          <span><%= alert %></span>
        </div>
      <% end %>
      <% if notice %>
        <div class="alert alert-info">
          <span><%= notice %></span>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
